<<<<<<< HEAD
.formcontainer{
    width: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 5px;
}
.form-radiogroup > label{
    display: block;
}
.formlabel{
    text-align: right;
    padding-right: 5px;
}
.formbutton{
    grid-column: 2/3;
}
=======
.formcontainer {
    width:400px;
    display:grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5px;
}
/*.formbutton{position:relative;left:50%;}*/
.formbutton{grid-column:2/3;width:100px;}
.form-radiogroup label{display:block}
.formlabel{padding:0 5px 0 0;text-align: right;}
>>>>>>> b990e6461915ed3f31682d377fd97d8c19f8de8c
