body {
  background-color: #525c3d;
  color: #baabab; }

.wrapper {
  margin: 0 auto;
  width: 80%;
  min-width: 768px;
  display: flex;
  flex-wrap: wrap; }

main {
  background-color: #00cccc;
  color: #e61a1a;
  box-sizing: border-box;
  padding: 10px 10px 20px;
  width: 50%; }

aside {
  color: #66ffff;
  background-color: #f76e6e;
  box-sizing: border-box;
  padding: 10px;
  width: 50%; }
